{% load static %}
{% load bootstrap4 %}

<html>
<head>
  {% bootstrap_css %}
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  {% bootstrap_javascript jquery='full' %}
  <title>
    ChatterBoxes
  </title>
</head>
<body>

  <div class="container">
    current talk: {{talk}}
  </div>

  <div class='container' id="contents_div">
    {% block content %}
    {% endblock content %}
  </div>
  {% block javascript %}
  {% endblock javascript %}
  </body>
</html>
