{% extends 'base.html' %}

{% load static %}
{% load rest_framework %}

{% block content %}
<h4 style='text-align: center;'>
  CHAT
</h4>

<p>
  Lorem ipsum
</p>

<div>
current talk: {{ talk }}, {{talk.has_ended}}
</div>

<div class="container-fluid overflow-auto h-50" style="border:1px solid #cecece;" id="chat_div">
  <div class="card" hidden="true" id="message_template_card">
    <div class="card-body" id="message_template_card_body">
      message_text
    </div>
  </div>

  {% for msg in talk.chatmessage_set.all %}
  <div class="card">
    <div class="card-body">
      {{ msg.text }}
    </div>
  </div>
  {% endfor %}
</div>

<form class="form-vertical" action="{% url 'chat' %}" id="chat_message_form">
  {% csrf_token %}
  {% render_form chat_message_serializer %}
  <input class="btn btn-primary btn-block" type="submit" value="OK">
</form>

{% if talk.has_ended %}
<p>
  chat ended
</p>
<a class="btn btn-primary btn-block text-white" href="#" id="start_new_chat_btn">
  Start new chat
</a>
<a class="btn btn-primary btn-block text-white" href="#" id="change_settings_btn">
  Change settings
</a>
{% else %}
<p>
  chat is ongoing
</p>
<a class="btn btn-primary btn-block text-white" href="{% url 'chat' %}" id="end_chat_btn">
  End chat
</a>
{% endif %}

{% endblock content %}

{% block javascript %}
<script src="{% static 'js/websocket_connector.js' %}"></script>
<script src="{% static 'js/form_submit.js' %}"></script>
<script>
  var chat_message_form = $('#chat_message_form');
  var chat_message_textarea = chat_message_form.find('textarea[name=text]')
  chat_message_form.on('submit', function (event) {
    form_submit(event);
    chat_message_textarea.val('');
  });
  chat_message_textarea.on('keypress', function (event) {
    if (event.which === 13) {
      event.preventDefault();
      chat_message_form.submit();
    }
  });
  $('#end_chat_btn').on('click', function (event) {
    console.log('ending current talk');
    event.preventDefault();
    var url = event.target.href;
    console.log(url);
    $.ajax({
      url: url,
      type: 'PATCH',
      data: 'has_ended=true',
      success: function(resp) {
        document.open();
        document.write(resp);
        document.close();
      }
    });
  });
</script>
{% endblock javascript %}
