{% extends 'base.html' %}

{% load static %}
{% load rest_framework %}

{% block content %}
<h4 style='text-align: center;'>
  CHAT SETTINGS
</h4>

<p>
  Lorem ipsum
</p>

<form class="form-horizontal" action="" id="chat_settings_form">
  {% csrf_token %}
  {% render_form chat_settings_form %}
  <input class="btn btn-primary btn-block" type="submit" value="OK">
</form>

<a class="btn btn-primary btn-block text-white" href="{% url 'main' %}" id="main_page_btn">
  Back
</a>

{% endblock content %}

{% block javascript %}
<script src="{% static 'js/ref_btn_clicked.js' %}"></script>
<script>
  $('#main_page_btn').on('click', function (event) {
    ref_btn_clicked(event);
  });
</script>
{% endblock javascript %}
